@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Fredoka:wght@400;500&family=Noto+Sans+Thai:wght@300&display=swap%27%27');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

.header-navbar{
    width: 100%;
    height: 700px;
    background-color: aqua;
   
}

/********************************************************/

.box-body{
    width: 100%;
    height: 1200px;
    background-color: #f5fbff;
    padding-top: 50px;
}

.box-body-1{
    width: 60%;
    height: 700px;
    background-color: #f5fbff;
    margin: 0 5% 0 17%;
    padding: auto;
}

.box-body-img{
    background-color: #fff;
    width: 140px;
    height: 60px;
    margin-left:30px;
    margin-top: 30px;
}

.box-1_1{
    width: 220px;
    height: 130px;
    color: #fff;
    background-color: #fff;
    border:0.5px solid #f5fbff  ;
    float: left;
    margin-left:30px ;
    margin-top: 50px;
    transition: 0.5s;
}

.box-1_1:hover{
    box-shadow: 5px 5px 30px 2px #e2e2e2;
}


.box-img{
    width: 450px;
    height: 300px;
    background-color: #000 ;
    color: #fff;
    box-shadow: 5px 5px 10px rgb(110, 110, 110);  
    float: left;
    margin-left:30px ; 
    margin-top: 50px; 
}
.box-img img{
    width: 450px;
    height: 300px;
}

.box-ms{
    width: 550px;
    height: 350px;
    color: #000;
    float: left;
    margin-left:30px ; 
    margin-top: 50px; 
}
.box-body2{
    width: 150px;
    height: 130px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border:0.5px solid #f5fbff  ;
    /*box-shadow: 5px 5px 10px rgb(110, 110, 110);  */
    float: left;
    margin-left:30% ; 
    margin-top: 50px; 
    position:absolute;
}
.box-body3{
    width: 150px;
    height: 130px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border:0.5px solid #f5fbff  ;
    /*box-shadow: 5px 5px 10px rgb(110, 110, 110);  */
    float: left;
    margin-left:40% ; 
    margin-top: 50px; 
    position:absolute;
}
.box-body4{
    width: 150px;
    height: 130px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border:0.5px solid #f5fbff  ;
   /* box-shadow: 5px 5px 10px rgb(110, 110, 110);  */
    float: left;
    margin-left:50% ; 
    margin-top: 50px; 
    position:absolute;
}
.box-body5{
    width: 150px;
    height: 130px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border:0.5px solid #f5fbff  ;
    /*box-shadow: 5px 5px 10px rgb(110, 110, 110);  */
    float: left;
    margin-left:60% ; 
    margin-top: 50px; 
    position:absolute;
}
.box-body2:hover,.box-body3:hover,.box-body4:hover,.box-body5:hover{
    box-shadow: 5px 5px 30px 2px #e2e2e2; 
}
.box-body2_2{
    width: 100px;
    height: 50px;
    background-color: #000 ;
    position: relative;
    margin: auto;
    margin-top: -20px;
}


/*********************************************************************/

#SCP{
    margin-top: 5%;
}

/*************/

.box-footer1{
    width: 200px;
    height: 150px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border:0.5px solid #f5fbff  ; 
    float: left;
    margin-left:15% ; 
    margin-top: 50px; 
    position:absolute;
}
.box-footer2{
    width: 200px;
    height: 150px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border:0.5px solid #f5fbff  ;
    float: left;
    margin-left:30% ; 
    margin-top: 50px; 
    position:absolute;
}
.box-footer3{
    width: 200px;
    height: 150px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border:0.5px solid #f5fbff  ;
    float: left;
    margin-left:45% ; 
    margin-top: 50px; 
    position:absolute;
}
.box-footer4{
    width: 200px;
    height: 150px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border:0.5px solid #f5fbff  ;
    float: left;
    margin-left:60% ; 
    margin-top: 50px; 
    position:absolute;
}
.box-footer5{
    width: 200px;
    height: 150px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border:0.5px solid #f5fbff  ;
    float: left;
    margin-left:75% ; 
    margin-top: 50px; 
    position:absolute;
}
.box-footer1_1{
    width: 200px;
    height: 100px;
    background: none;
    position: relative;
    margin: auto;
    margin-top: -60px;
}
.box-footer1:hover,.box-footer2:hover,.box-footer3:hover,.box-footer4:hover,.box-footer5:hover{
    box-shadow: 5px 5px 30px 2px #e2e2e2; 
}
.chair{
    background-color: #f5fbff;
    height: 450px;
    width: 100%;
}
